<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <span appChangeText>Welcome to {{ title | uppercase }}!</span>
  </h1>
  <select (change)="changemonth($event)">
    <option *ngFor="let i of months">{{i}}</option>
  </select>
  <div>
    <span *ngIf="isavailable;then condition1 else condition2">Condition is valid.</span>
    <ng-template #condition1>isavailable is false</ng-template>
    <ng-template #condition2>isavailable is true</ng-template>
  </div>
  <button (click)="myClickFunction($event)">
    Click Me
  </button>
</div>
<h2>Content new component: </h2>
<b>{{00.54565 | percent}}</b>
<b>{{6589.23 | currency:"USD":true}}</b>
<app-new-cmp></app-new-cmp>

<h1>Custom Pipe</h1>
<b>Square root of 25 is: {{25 | sqrt}}</b>
<br/>
<b>Square root of 729 is: {{729 | sqrt}}</b>


<br />
<a routerLink = "new-cmp">New component</a>

<br />
<br/>
<router-outlet></router-outlet>
