<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <span appChangeText>Welcome to {{ title }}!</span>
  </h1>
  <select (change)="changemonth($event)">
    <option *ngFor="let i of months">{{i}}</option>
  </select>
  <div>
    <span *ngIf="isavailable;then condition1 else condition2">Condition is valid.</span>
    <ng-template #condition1>isavailable is false</ng-template>
    <ng-template #condition2>isavailable is true</ng-template>
  </div>
  <button (click)="myClickFunction($event)">
    Click Me
  </button>
</div>
<h2>Content new component: </h2>
<app-new-cmp></app-new-cmp>

